:host {

  & div.item {
    position: relative;
    margin-bottom: 1.6vw;
    overflow: hidden;

    & p {
      margin-top: 0;

      &.vertical {
        margin: 0;
        float: left;

        & img {
          display: block;
          width: 22vw;
          margin: .6vw 1.2vw 1.2vw 0;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    span.more {
      position: absolute;
      right: 0;
      bottom: -.46vw;
      background-color: #1c1c1c;
      cursor: pointer;
      color: #ed1c24;

      & span {
        position: static;
        color: white;
      }
    }
  }
}
