:host {
  & div.item {
    position: relative;
    margin-bottom: 1.6vw;
    overflow: hidden;

    & div.left {
      margin-right: 1.5vw;

      img {
        width: 22vw;
        display: block;
        margin-bottom: 4vw;
      }
    }

    & .text {
      margin-top: -.6vw;
      p {
        margin: 0;
        text-align: justify;
      }
    }

    span.more {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      cursor: pointer;
      color: #ed1c24;

      & span {
        position: static;
        color: white;
      }
    }
  }
}
