<div class="container">
    <div class="title">
        <h1>&nbsp;</h1><app-lang-switch [color]="'white'"></app-lang-switch>
      </div>
    <div fxLayout fxLayoutGap="20px">
        <img src="assets/images/collaborations/dream.png" alt="">
        <p fxFill>
            text
            <a routerLink="">see more</a>
        </p>
    </div>
    <div fxLayout fxLayoutGap="20px">
        <img src="assets/images/collaborations/meaning.png" alt="">
        <p fxFill>
            text
            <a routerLink="">see more</a>
        </p>
    </div>
</div>
