<div *ngFor="let item of items$ | async" fxLayout class="item" [@expand]="!!item.expand">
  <div class="left">
    <img src="assets/images/collaborations/{{item.name}}.png" alt="">
    <img src="assets/images/collaborations/{{item.name}}_.png" alt="">
  </div>
  <div class="text">
    <p *ngFor="let p of item.text">
      {{p}}
    </p>
  </div>
  <span class="more" (click)="item.expand = !item.expand"><span
    *ngIf="!item.expand">...</span>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.expand ? 'see less' : 'see more' }}</span>
</div>

<app-social [bg]="'dark'"></app-social>
