<h1><span i18n>Type</span>|<a [routerLink]="['/projects']" i18n>Project</a>: <a routerLink="../projects/1">Synchronicity Singularity
    Apophenia</a>|<a routerLink="../projects/1/black" i18n>Black</a>|<a routerLink=".././">Chaos</a>|180x180|150x150|100x100|50x50</h1>
<div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap="40px" class="items">
  <a routerLink="000"><img src="assets/images/000.png" alt="" />
    <div i18n>Сhaos 000</div>
  </a>
  <a routerLink="33"><img src="assets/images/33.png" alt="" />
    <div i18n>Сhaos 33</div>
  </a>
  <a routerLink="66"><img src="assets/images/66.png" alt="" />
    <div i18n>Сhaos 66</div>
  </a>
  <a routerLink="00"><img src="assets/images/00.png" alt="" />
    <div i18n>Сhaos 00</div>
  </a>
  <a routerLink="88"><img src="assets/images/88.png" alt="" />
    <div i18n>Сhaos 88</div>
  </a>
  <a routerLink="333"><img src="assets/images/333.png" alt="" />
    <div i18n>Сhaos 333</div>
  </a>
  <a routerLink="555"><img src="assets/images/555.png" alt="" />
    <div i18n>Сhaos 555</div>
  </a>
  <a routerLink="999"><img src="assets/images/999.png" alt="" />
    <div i18n>Сhaos 999</div>
  </a>
</div>
