<div class="container">
  <div class="title">
    <h1>
      <span i18n="main|">Type</span>|
      <a [routerLink]="['/projects']" i18n="main|">Project</a>:
      <a routerLink="/projects/1">Synchronicity Singularity Apophenia</a>|
      <a routerLink="/projects/1/black" i18n="main|">Black</a>|
      <a routerLink=".././">Chaos</a>|<span style="color:#cc2229">180x180</span>|150x150|100x100|50x50
    </h1>
    <app-lang-switch></app-lang-switch>
  </div>
  <div fxLayout fxLayoutAlign="space-between" class="items">
    <a routerLink="000"><img src="assets/images/000.png" alt="" />
      <div>Сhaos 000</div>
    </a>
    <a routerLink="33"><img src="assets/images/33.png" alt="" />
      <div>Сhaos 33</div>
    </a>
    <a routerLink="66"><img src="assets/images/66.png" alt="" />
      <div>Сhaos 66</div>
    </a>
    <a routerLink="00"><img src="assets/images/00.png" alt="" />
      <div>Сhaos 00</div>
    </a>
  </div>
  <div fxLayout fxLayoutAlign="space-between" class="items">
    <a routerLink="88"><img src="assets/images/88.png" alt="" />
      <div>Сhaos 88</div>
    </a>
    <a routerLink="333"><img src="assets/images/333.png" alt="" />
      <div>Сhaos 333</div>
    </a>
    <a routerLink="555"><img src="assets/images/555.png" alt="" />
      <div>Сhaos 555</div>
    </a>
    <a routerLink="999"><img src="assets/images/999.png" alt="" />
      <div>Сhaos 999</div>
    </a>
  </div>
</div>
<app-social></app-social>
