<div class="container">
  <div class="title">
    <h1>
      <span i18n="main|">Type</span>|
      <a [routerLink]="['/projects']" i18n="main|">Project</a>:<a routerLink="../projects/1">Synchronicity Singularity Apophenia</a>|<a routerLink="/projects/1/black" i18n="main|">Black</a>|<a routerLink="/projects/1/black/art/chaos_code/180">Chaos</a>|<span style="color:#cc2229">180x180</span>|150x150|100x100|50x50
    </h1>
    <app-lang-switch></app-lang-switch>
  </div>
  <div fxLayout>
    <div style="position: relative;width:370px;height: 370px;">
        <img src="assets/images/Сhaos_999.png" alt="" />
        <img src="assets/images/inlarg.png" alt="" style="position: absolute;bottom: 15px;right: 10px; cursor:pointer;" />
    </div>
    <div class="prev-items" fxLayout="column" fxLayoutAlign="space-between center">
        <img class="active" src="assets/images/999_1.png" alt="" />
        <img src="assets/images/999_2.png" alt="" />
        <img src="assets/images/999_3.png" alt="" />
        <img src="assets/images/999_4.png" alt="" />
        <img src="assets/images/999_5.png" alt="" />
    </div>
    <div>
      <div style="font-size:14px;letter-spacing: -.05px;line-height:20px;font-weight: bold;">Project: Synchronicity
        Singularity Apophenia</div>
      <div style="font-size:30px;letter-spacing: -.15px;line-height:33px;font-weight: bold;">Chaos 999</div>
      <div style="font-size:20px;letter-spacing: -.15px;line-height:30px;font-weight: bold;">Alessio Romano</div>
      <div style="font-size:14px;letter-spacing: -.15px;line-height:24px;">Overprint on Dibond</div>
      <div style="font-size:14px;letter-spacing: -.15px;line-height:24px;">Signed by the artist</div>
      <div style="font-size:14px;letter-spacing: -.15px;line-height:24px;"><span style="color:#cc2229">180x180</span>|150x150|100x100|50x50 cm</div>
      <div style="font-size:14px;letter-spacing: -.15px;line-height:24px;">Limited Edition</div>
      <div style="font-size:14px;letter-spacing: -.15px;line-height:24px;">roma code <b
          style="font-size:14px;letter-spacing: -.01px;line-height:14px;">ARSSABW180CH999008777</b></div>
      <div style="font-size:20px;letter-spacing: -.15px;line-height:30px;">Price Euro 6,666</div>
      <div style="font-size:14px;letter-spacing: .35px;line-height:24px;">plus VAT. import duties (if applicable)</div>
      <div fxLayout fxLayoutAlign="space-between" style="font-size:14px;letter-spacing: -.15px;line-height:24px;">
        estimated shipping cost <b>customized</b></div>
      <div fxLayout fxLayoutAlign="space-between" style="font-size:14px;letter-spacing: -.15px;line-height:24px;">art
        shipping insurance <b>customized</b></div>
      <div style="padding-top: 10px;"><button type="button"
          style="cursor:pointer; text-transform:uppercase;font-weight: 18px;letter-spacing: -.10px;line-height:36px;font-weight: bold;width:370px;height:57px;background-color: #000000;color: #ffffff;">own
          now</button></div>
    </div>
  </div>
  <div fxLayout fxLayoutAlign="space-between" style="padding: 20px 0 10px;font-size:14px;letter-spacing: -.01px;line-height:20px;text-transform: uppercase;font-weight: bold;">
    <span>price on request</span>
    <span>roma code <span style="line-height: 14px;">ARSSABW180CH888008777</span></span>
    <span>edition 8 out of 777</span>
    <span>request the price</span></div>
</div>
<app-social></app-social>