<div class="container">
  <div class="title">
    <h1>&nbsp;</h1><app-lang-switch [color]="'white'"></app-lang-switch>
  </div>
  <div>
    <img src="assets/photo1.png" alt="Alessio Romano. Metadata" />
    Alessio Romano, artist. Originally from Roma, Italy. For some reasons his mother moved to Russia when hi was so
    young.
    In Moscow he have got a russian name. He never mentioned his original ancestry until the end of carrier in marketing
    and
    advertising. Stroganov University of Art & Design /Graphic & Industrial Design. Russian/native/, English, German,
    Italian.
    <br />Mac user: Quark XPress, Keynote, Photoshop, Illustrator. Experience in building of Interactive business/ from
    scratch/, brands, interactive and communication strategy. Excellent skills in painting, drawings and inustrial
    design. Worked on
    TTL, ATL, BTL, Digital and Interactive campaigns. Founder / Owner / MD of “Trend Maker Online” / Created and
    developed online business
    /www.trendmakeronline.com/ SMM Group on FB.
    <br />Consultant at Advance digital agency /2011-2012/ Parter/Deputy managing/Creative director of “360D”
    interactive agency.
    <br />Create brand positioning. Created and developed “6D” business process and strategy for affiliation with global
    international network / Publicis Group /. Build agency structure and agency team Developed selling strategy. Worked
    on all agencyʼs brands.
    www.360D.ru
    <br />Creative director / MRM World Wide Moscow in ADV Group / Client list / Coca Cola, Nestle, Bayer, InBev, Bee
    Line, Winston, ... /
    <br />Creative director / Progression / Client list / Klinskoe, Siberian Crown, Stella Artois, Nesquik, Shok, Kit
    Kat, Gillette / Free-lance creative at FCB MA/Sochi 2014 /
  </div>
</div>
<app-social></app-social>