<div class="container">
  <div class="title">
    <h1>&nbsp;</h1>
    <app-lang-switch [color]="'white'"></app-lang-switch>
  </div>
  <div>
    <img src="assets/photo1.png" alt="Alessio Romano. Metadata" />
    <p><b>1. Biography</b></p>
    <p>07.07.1970. Alessio Romano, Rome, Italy. In Russia he got a name. In Russia he got a new name) But later... ...he
      regained his alias, Alessio Romano. </p>
    <p>He started drawing at an early age, as a child. He drew horsemen and ships. At six, his mother took him to a
      painting studio. There, he promptly impressed his teacher with the ability to create battle scenes. Before going
      to school, he copied and rearranged Franz Roubaud's compositions. It was like a story in pictures. He vocalized
      the battles, unfolding on paper, imitating gun shots, stomping of horsemen, moans of dying soldiers. This was
      followed by a break in his creative activity, and a couple of years later Alessio started a preparatory course at
      the Surikov Children's Art School. But a year later, he moved to the school on Krasin Street. Finishing the course
      he entered Stroganovka (Moscow State Stroganov Academy of Induastial and Applied Arts, informally known as
      Stroganovka), the Department of Art Design. Alessio successfully graduated from the Academy with the praise of the
      Council. In 1991 he became an expert in graphic and industrial design. He married a future Stroganovka student,
      who entered the Department of Monumental Decorative and Furniture Fabrics and in fact he obtained a second special
      education, helping his wife with her projects.</p>
    <p>He began his career during his studies in the nineties. He designed interiors and household items. He created a
      number of logos for various companies, in particular, he, together with his fellow student, Arseniy Soldau
      designed the corporate style for the former Ministry of Heavy Engineering Industry. During this transition period
      for the country, he was engaged in creative work in various fields. Together with his wife he created a series of
      "backgrounds" for the animated series "Kolobki" in Tatarsky’s Studio at the invitation of Valery Kachaev. For
      about a month he worked in Azrikan Design Studio.</p>
    <p>In 1994, at the suggestion of his friend Maxim Khimoroda he started working at an advertising agency and the next
      twenty-two years of his life were closely connected with the advertising industry. It was a period of constant
      innovation in technology and communications. At first, he mastered the skills of an art director. Jeroen Peters
      and Arthur Tielen, two creative directors, who were invited to the Russian office of “Bates/Saachi and Saachi”
      played a particular role in his professional growth. Then he worked in London on ongoing projects with the “Saachi
      and Saachi” agency under the supervision of Casey Evans and Olga Baar. </p>
    <p>In his strive for excellence, moving from one agency to another - Publicis, Grey, Macken Erickson, Ammirati Puris
      Lintas - he created communicational campaigns. In 2008, he discovered the world of the Internet and gained
      experience in building an interactive business/brand from scratch. As a creative director and deputy CEO, he
      created numerous interactive and communication strategies and implemented dozens of advertising campaigns for
      well-known international brands. </p>
    <p>Throughout his career, he maintained his excellent skills as a painter, drawer and graphic artist. Over the
      years, he became closely acquainted with advertising photography and video. He worked on TTL, ATL, BTL, digital
      and interactive projects. In 2008-2009 he held the post of the creative director of MRM Relationship Marketing,
      which was a part of ADV Holding. Later he became a partner and deputy general director of the interactive agency
      "360D", retaining the position of the creative director and worked there until 2010. He created the positioning
      and brand of Digital 360D Agency. He developed 6D business processes (define, decide, develop, design, digitalize,
      deploy) and the strategy for joining the global international WPP network. In partnership with Vladimir Denisov,
      the technical director, he formed the structure, team and business processes of the agency. Using his professional
      ties, he attracted contracts from international clients and well-known international brands to the agency. He was
      responsible for all communication campaigns as the creative director and deputy CEO. Later he became the founder,
      owner and CEO of his own company "Trend Maker Online" /Internet advertising and marketing/. At the same time, he
      advised for “Advance Digital Agency” / ADV Group 2011-2012/.</p>
    <p><b>2.</b> Throughout his career he continued designing houses and interiors for private clients. Subsequently, he
      created a project for the Moscow office of “Iglo Company” in 2014. In the course of these twenty-two years of his
      life he rose from an art director to the owner of the company and left the advertising business for implementing
      projects in the field of contemporary art and figurative (traditional, original) painting.</p>
      <p>Here are the companies he worked for:</p>
      <p>2011/2014 General Manager/Creative Director/Owner Trend MakerOnline</p>
      <p>2011 Creative Director Advance</p>
      <p>2009/2011 Partner/Creative Director 360D</p>
      <p>2007/2008 Creative Director MRM World Wide Russia</p>
      <p>2006 Creative Director Progression Russia</p>
      <p>2003/2005 Creative Group Head Mc Cann Erickson Russia</p>
      <p>2001/2003 Deputy Creative Director Publicis Russia</p>
      <p>2000 Free lance Creative for BBDO, D'Arcy</p>
      <p>1999 Creative and art director Grey Moscow</p>
      <p>1998/2000 Art Director Ammiraty Puris Lintas Russia</p>
      <p>1998 Deputy Creative Director United Campaigns/Publicis Russia</p>
      <p>1994/1998 Senior Art Director Bates Saatchi & Saatchi Russia</p>
      <p>1993 Industrial Designer at Azrikan Design Studio</p>
      <p>Many of his works were highly estimated by the professional community at international advertising festivals.
      </p>
      <p>Awards:</p>
      <p>2008 Art Directors Club Digital promo website Nespi Mix Nestle</p>
      <p>2007 Interactive TTL campaign for Berocca Bayer</p>
      <p>2006 Silver Mercury for TV promotion Siberian Crown InBev</p>
      <p>2005 Moscow International Advertising Festival Red Apple for Bonaqua Coca Cola</p>
      <p>2004 Special thanks from JTI for Russian Style ATL campaign</p>
      <p>1998 Moscow International Advertising Festival Red Apple for Status Furniture</p>

      <div style="padding-left: 40px;">
        <p>Moscow International Advertising Festival Red Apple for SV ART press add</p>
        <p>Moscow International Advertising Festival Red Apple for Twinings</p>
        <p>Golden Drum for SV ART press add</p>
        <p>Golden Drum for Pimafucin press add</p>
        <p>Golden Drum for Gossard Lingerie </p>
      </div>
      <p>1997 Cannes Lion for Lucky Strike press add for Play Boy Magazine </p>
      <p>1996 Special thanks from P&G Baby Box Promotion /Pampers/ </p>
      <p>In 2014, he completed his career in the advertising business and steeped in creating art projects. Many of them
        started back in 2011.</p>


  </div>
</div>
<app-social [bg]="'dark'"></app-social>
