<div class="container">
  <a routerLink=""><img src="assets/images/exibition/apophenia.png" alt=""></a>
  <a routerLink=""><img src="assets/images/exibition/manipolazione.png" alt=""></a>
  <a routerLink=""><img src="assets/images/exibition/evasivemeaning.png" alt=""></a>
  <a routerLink=""><img src="assets/images/exibition/gravity.png" alt=""></a>
  <a routerLink=""><img src="assets/images/exibition/dream.png" alt=""></a>
  <a routerLink=""><img src="assets/images/exibition/hallucinatio.png" alt=""></a>
</div>
