:host {

  & a {
    color: white;
  }

  & .items {
    margin: 5vw 0;

    & .photos {
      img {
        width: 75vw;
      }
    }

    & .prev {
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    div {
      overflow: hidden;
      text-align: left;
    }
  }

}
