:host {
  

  .section {
    padding-top: 1.3vw;
    line-height: 1.15vw;
    flex: 1 0 33%;

    & span {
        display: inline-block;
        margin-bottom: .6vw;
    }

    & div {
      font-size: .78vw;

      & div {
        box-sizing: border-box;
        padding-top: .5vw;
        height: 3.5vw;
      }

      & img {
        width: 24.5vw;
      }
    }
  }
}
