<div fxLayout fxLayoutGap=".7vw">
    <div class="section">
        <span>Projects</span>
        <div>
            <img src="assets/images/video/1.png" alt="">
            <div>HALLUCINATIO | Max Bauer</div>
        </div>
        <div>
            <img src="assets/images/video/4.png" alt="">
            <div>MANIPOLAZIONE | Max Bauer</div>
        </div>
    </div>
    <div class="section">
        <span>Interviews</span>
        <div>
            <img src="assets/images/video/2.png" alt="">
            <div>Interviews | MANIPOLAZIONE SOCIALE | Alessio Romano with Max Bauer</div>
        </div>
        <div>
            <img src="assets/images/video/5.png" alt="">
            <div>Interviews | DREAMPRESSIONS | Romano, Alex Blabber with Max Bauer,</div>
        </div>
    </div>
    <div class="section">
        <span>The principles of decorating</span>
        <div>
            <img src="assets/images/video/3.png" alt="">
            <div>THE PRICIPLES OF DECORATING | PART 1 with Max Bauer</div>
        </div>
        <div>
            <img src="assets/images/video/6.png" alt="">
            <div>THE PRICIPLES OF DECORATING | PART 2 with Max Bauer</div>
        </div>
    </div>
</div>
<app-social [bg]="'dark'"></app-social>