:host {
  margin-top: -4vw;
  display: block;

  .section {
    padding-top: 1.3vw;
    line-height: 1.15vw;
    flex: 1 0 33%;

    & span {
      display: inline-block;
      margin-bottom: .6vw;
    }

    & div {
      font-size: .78vw;

      & div:first-child {
        overflow: hidden;
        width: 24.5vw;
        height: 14vw;

        & img {
          width: 24.5vw;
        }
      }

      & div:last-child {
        box-sizing: border-box;
        padding-top: .3vw;
        height: 3.5vw;

        & span {
          white-space: nowrap;
          margin: 0;
        }
      }
    }
  }
}
