:host {
  margin-top: -4vw;
  display: block;

  .section {
    padding-top: 1.3vw;
    line-height: 1.15vw;
    flex: 1 0 33%;

    & span {
      display: inline-block;
      margin-bottom: 0.6vw;
    }
  }
}
