<div id="left">
  <app-left [isWhite]="lopped" [isOpen]="lopped" [isExpand]="lopped"></app-left>
</div>
<div id="corp">
  <div class="top" [ngClass]="{white: lopped}" fxLayout fxLayoutAlign="space-between">
    <span class="left" fxLayout fxLayoutAlign="space-between">
      <a routerLink="/account">subscribe for our newsletter</a>
      <a routerLink="/login">sign up</a>
    </span>
    <span class="right" fxLayout fxLayoutAlign="space-between">
      <a routerLink="/login">login</a>
      <span>&copy;&nbsp;Alessio Romano.&nbsp;<span>All right reserved</span>.&nbsp;{{ currentYear }}</span>
    </span>
  </div>
  <ng-container *ngIf="!lopped">
    <div class="logo"><a routerLink="/"><img src="assets/logo.png" alt="Alessio Romano"></a></div>
    <div class="menu" fxLayout fxLayoutAlign="space-between">
      <a *ngFor="let item of menu" [routerLink]="['/', item.name]">{{ item.name }}</a>
    </div>
  </ng-container>
</div>
<div id="right"></div>
