:host {
  display: block;
  padding: 0 12% 0 13%;
}

h1 {
  font-size: 1.1vw;
  font-weight: normal;
}

.items {
  margin-bottom: 1.4vw;

  span {
    width: 14.3vw;
    height: 14.3vw;
    background-color: #000000;
  }

  & a>img,
  span>img,
  span>span {
    width: 14.3vw;
  }

  & a>div {
    text-align: center;
    font-size: .6vw;
  }

}
