<div class="title">
  <h1>
    <span i18n="main|">Type</span> | <a routerLink="/buy" i18n="main|">Project</a> | <a
      routerLink="/buy/projects/1">Synchronicity Singularity Apophenia</a><!--  | <span i18n="main|">Black</span> -->
  </h1>
  <app-lang-switch></app-lang-switch>
</div>
<div fxLayout fxLayoutAlign="space-between" class="items">
  <a routerLink="category/1">
    <img src="assets/images/store/category/1.png" alt="" />
    <div i18n="main|">art</div>
  </a>
  <a routerLink="category/2">
    <img src="assets/images/store/category/2.png" alt="" />
    <div i18n="main|">installation</div>
  </a>
  <a routerLink="category/3">
    <img src="assets/images/store/category/3.png" alt="" />
    <div i18n="main|">print</div>
  </a>
  <span>
    <span></span>
    <div i18n="main|">collection 4 home</div>
  </span>
</div>
<div fxLayout fxLayoutAlign="space-between" class="items">
  <span>
    <span></span>
    <div i18n="main|">collection 4 man</div>
  </span>
  <span>
    <span></span>
    <div i18n="main|">souvenirs</div>
  </span>
  <span>
    <span></span>
    <div i18n="main|">accessory</div>
  </span>
  <span>
    <span></span>
    <div i18n="main|">collection 4 woman</div>
  </span>
</div>
<app-social></app-social>
