  <div class="title">
    <h1>&nbsp;</h1>
    <app-lang-switch [color]="'white'"></app-lang-switch>
  </div>
  <div *ngFor="let item of items$ | async" fxLayout fxLayoutGap="1.7vw" class="item">
    <div class="left"><img src="assets/images/projects/{{item.name}}.png" alt=""></div>
    <div>
      <div [@expand]="!!item.expand" class="text">
        <p *ngFor="let p of item.text">{{p}}</p>
      </div>
      <span (click)="item.expand = !item.expand"><span *ngIf="!item.expand">...</span>&nbsp;&nbsp;&nbsp;{{ item.expand ? 'see less' : 'see more' }}</span>
    </div>
  </div>
<app-social></app-social>
