<h1 i18n>Projects</h1>
<div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap="40px" class="items">
    <a routerLink="1"><img src="assets/images/pro1.png" alt=""/></a>
    <a routerLink="2"><img src="assets/images/pro2.png" alt=""/></a>
    <a routerLink="3"><img src="assets/images/pro3.png" alt=""/></a>
    <a routerLink="4"><img src="assets/images/pro4.png" alt=""/></a>
    <a routerLink="5"><img src="assets/images/pro5.png" alt=""/></a>
    <a routerLink="6"><img src="assets/images/pro6.png" alt=""/></a>
</div>
