<div fxLayout *ngIf="isBig; else pic" class="big">
  <div fxLayout="column" fxLayoutAlign="center"><img src="assets/images/left-arrow.png" alt="" (click)="left()" /></div>
  <div class="pic">
    <img [src]="((index !== 0 ? path  + '-' : 'product/0_extra/') + index + '.png') | getDownloadURL" alt="" />
  </div>
  <div fxLayout="column" fxLayoutAlign="center"><img src="assets/images/right-arrow.png" alt="" (click)="right()" />
  </div>
</div>
<ng-template #pic>
  <img [src]="(path + '-' + index + '.png') | getDownloadURL" alt="" />
</ng-template>
