<app-header [@headOnScroll]="isScroll"></app-header>
<main appScroll (read)="isScroll = $event.scrollTop > 1" [ngClass]="{white: isWhite}" [class]="className">
  <div class="title">
    <app-crumbs *ngIf="crumbs$ | async as params else h1" [params]="params"></app-crumbs>
    <ng-template #h1>
      <h1>{{ title }}</h1>
    </ng-template>
    <app-lang-switch [color]="!isWhite ? 'white': ''"></app-lang-switch>
  </div>
  <ng-container *ngComponentOutlet="currentComponent; injector: injector"></ng-container>
</main>
