a,
div {
  position: relative;
}

div.black {
  width: 14.3vw;
  height: 14.3vw;
  background-color: #000000;
  border-width: .14vw;
  border-color: transparent;
  border-style: solid;
}

img {
  border-width: .14vw;
  border-color: transparent;
  border-style: solid;
  width: 14.3vw;
  display: block;
}

a>span,
div>span {
  display: block;
  text-align: center;
  font-size: .6vw;
  margin-top: .4vw;
}
