<div class="title">
  <h1>Projects</h1>
  <app-lang-switch></app-lang-switch>
</div>

<div fxLayout fxLayoutAlign="space-between start" class="items">

  <a routerLink="projects/1"><img src="assets/images/store/projects/1.png" alt=""></a>

  <a routerLink="projects/2"><img src="assets/images/store/projects/2.png" alt=""></a>

  <a routerLink="projects/3"><img src="assets/images/store/projects/3.png" alt=""></a>

  <a routerLink="projects/4"><img src="assets/images/store/projects/4.png" alt=""></a>

</div>

<div fxLayout  fxLayoutAlign="space-between start" class="items">

    <span><img src="assets/images/store/projects/x.png" alt=""></span>
  
    <a routerLink="projects/5"><img src="assets/images/store/projects/5.png" alt=""></a>
  
    <a routerLink="projects/6"><img src="assets/images/store/projects/6.png" alt=""></a>
  
    <span></span>
  
  </div>

<app-social></app-social>
