<div class="fields" fxLayout fxLayoutGap="2.2vw">
  <div fxFlex>
    <h2>account information</h2>
    <input placeholder="FIRST NAME" type="text">
    <input placeholder="SURNAME" type="text">
    <input placeholder="E-MAIL" type="text">
    <input placeholder="PASSWORD" type="password">
    <input placeholder="COMPANY" type="text">
    <div class="chbx">
      <span>owner of gallery</span>
      <span>decorator of interiors</span>
      <span>art dealer</span>
    </div>
    <button>sign up</button>
  </div>
  <div fxFlex [style.paddingTop.vw]="8.2">
    <button>modify</button>
    <input placeholder="OLD PASSWORD" type="password">
    <input placeholder="NEW PASSWORD" type="password">
    <button>confirm</button>
  </div>
</div>
