<h1><span i18n>Type</span>|<a routerLink="../" i18n>Project</a>: Synchronicity Singularity Apophenia</h1>
<div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap="40px" class="items">
  <a routerLink="black"><img src="assets/images/commedia.png" alt="" />
    <div i18n>COMMEDIA DELL’ARTE</div>
  </a>
  <a routerLink="oro"><img src="assets/images/oro.png" alt="" />
    <div i18n>ORO</div>
  </a>
  <a routerLink="sacro"><img src="assets/images/sacro.png" alt="" />
    <div i18n>SACRO</div>
  </a>
  <a routerLink="sole"><img src="assets/images/sole.png" alt="" />
    <div i18n>SOLE</div>
  </a>
  <a routerLink="zaffiro"><img src="assets/images/zaffiro.png" alt="" />
    <div i18n>ZAFFIRO</div>
  </a>
  <a routerLink="ametista"><img src="assets/images/ametista.png" alt="" />
    <div i18n>AMETISTA</div>
  </a>
  <a routerLink="topazio"><img src="assets/images/topazio.png" alt="" />
    <div i18n>TOPAZIO</div>
  </a>
  <a routerLink="smeraldo"><img src="assets/images/smeraldo.png" alt="" />
    <div i18n>SMERALDO</div>
  </a>
</div>