<a *ngIf="item.isActive; else dummy" [routerLink]="item.link">
  <ng-container *ngTemplateOutlet="picture"></ng-container>
  <span *ngIf="!hideTitle">{{ item.title }}</span>
</a>
<ng-template #dummy>
  <div appUnder *ngIf="item.id; else black">
    <i class="under">UNDER CONSTRACTION</i>
    <ng-container *ngTemplateOutlet="picture"></ng-container>
    <span *ngIf="!hideTitle">{{ item.title }}</span>
  </div>
</ng-template>
<ng-template #picture>
  <img [src]="('product/' + item.id + '/' + size + '/1.png') | getDownloadURL" alt="{{ item.title }}" />
</ng-template>
<ng-template #black>
  <div>
    <div class="black"></div>
    <span *ngIf="!hideTitle">{{ item.title }}</span>
  </div>
</ng-template>
