a,
div {
  position: relative;
}

div.black {
  width: 14.3vw;
  height: 14.3vw;
  background-color: #000000;
  border-width: 0.14vw;
  border-color: transparent;
  border-style: solid;
}

a > div.black,
div > div.black {
  display: flex;
  align-items: center;
  // padding: 0.6vw;

  & img {
    width: 100%;
  }
}

a > span,
div > span {
  display: block;
  text-align: center;
  font-size: 0.6vw;
  margin-top: 0.4vw;
}
