.items {
  margin-bottom: 1.4vw;
  line-height: 1;

  a {
    position: relative;

    & img, span {
      border-width: .14vw;
      border-color: transparent;
      border-style: solid;
    }

    & span.under {
      color: rgb(238, 28, 36);
      padding-left: 1vw;
      position: absolute;
      background-color: transparent;
      left: 4vw;
      top: 2vw;
      opacity: 0;
      transition: opacity .2s;

      &::before {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border: .27vw solid;
        border-color:
          transparent rgb(238, 28, 36) rgb(238, 28, 36) transparent;
        transform: rotate(-45deg);
        top: .1vw;
        left: 0;
      }
    }
  }

  span {
    width: 14.3vw;
    height: 14.3vw;
    background-color: #000000;
  }

  & a>img,
  span>img,
  span>span {
    width: 14.3vw;
    display: block;
  }

  & a>div,
  span>div {
    text-align: center;
    font-size: .6vw;
    margin-top: .4vw;
  }
}
