:host {
  display: flex;
  flex-direction: column;
  flex: auto;

  & header {
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;

    & a {
      color: #ffffff;
    }

    & .container {
      height: 291px;
      flex-basis: 291px;
      margin: 24px auto 0;

      &>div {
        & .left>a {
          margin-right: 40px;
        }

        & .right>span {
          margin-left: 20px;
        }
      }

      & .logo {
        margin: 26px auto 54px;
        text-align: center;
      }

      & .main-menu {
        font-weight: lighter;
      }

      & .sub-menu {
        position: relative;

        & button {
          cursor: pointer;
          position: absolute;
          padding: 0;
          border: 0;
          background: none;
          left: -68px;
          top: -15px;
        }

        & div {
          position: absolute;
          z-index: 1000;
          left: -145px;
          top: 28px;
          bottom: 0;
          width: 243px;
          height: 100vh;
          background-color: #000000;
          opacity: .77;
          padding-top: 19px;
          overflow: hidden;

          & ul {
            margin: 0 0 0 55px;
            padding: 0 0 0 20px;
            min-width: 200px;

            & li {
              list-style: none;
              line-height: 20px;
              letter-spacing: -.1px;
            }

            & ul {
              margin: 0;
            }
          }
        }
      }
    }
  }

  & main {
    flex: 1;
    overflow: auto;
  }
}
