<div style="height: 400px; flex-basis: 400px;">
  <div>
    <a routerLink="en">en</a>
    &nbsp;|&nbsp;
    <a routerLink="it">it</a>
  </div>
  <div style="text-transform: uppercase;display: flex; justify-content: space-around;">
    <span>meta data</span>
    <span>projects</span>
    <span>Exhibitions</span>
    <span>Exhibitions</span>
    <span>Publications</span>
    <span>Video</span>
    <span>Contacts</span>
  </div>
</div>

<div style="flex: 1; overflow: auto;"> 
  <router-outlet></router-outlet>
</div>
