:host {
  display: flex;
  flex-direction: column;
  flex: auto;

  & header {
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;

    & a {
      color: #ffffff;
    }

    & .container {
      height: 291px;
      flex-basis: 291px;
      margin: 24px auto 0;

      & .logo {
        margin: 26px auto 54px;
        text-align: center;
      }

      & .main-menu {
        font-weight: lighter;
      }

      & .sub-menu {
        position: relative;

        & button {
          cursor: pointer;
          position: absolute;
          padding: 0;
          border: 0;
          background: none;
          left: -68px;
          top: -15px;
        }

        & ul {
          position: absolute;
          display: none;
          left: -88px;
          top: 0;
          width: 200px;
          padding: 55px 20px;
          margin: 0;
          background-color: #000;
          opacity: .77;

          & li {
            list-style: none;
            line-height: 24px;
          }
        }
      }
    }
  }

  & main {
    flex: 1;
    overflow: auto;
    /*background-color: #222222;*/

    & .s-lang {
      margin: 25px 0 20px;
    }

  }
}
