<header [@headOnScroll]="isScroll">
  <div id="left">
    <button (click)="isOpen=!isOpen"><img src="assets/sw.png" alt="Show sub menu" /></button>
    <div [@show2left]="isOpen">
      <ul>
        <li>
          <app-lang-switch [color]="'white'"></app-lang-switch>
        </li>
        <li [style.cursor]="'pointer'" (click)="isExpand=!isExpand"><span>Buy</span><span class="arrow"
            [ngClass]="{open: isExpand}"><span></span></span></li>
        <ul [@expand]="isExpand">
          <li><a routerLink="/buy/projects/1/category/1" i18n="main|">art</a></li>
          <li><a routerLink="/buy/projects/1/category/2" i18n="main|">instalation</a></li>
          <li><a routerLink="/buy/projects/1/category/3" i18n="main|">print</a></li>
          <li><a routerLink="/buy/projects/1/category/4" i18n="main|">collection 4 home</a></li>
          <li><a routerLink="/buy/projects/1/category/5" i18n="main|">collection 4 man</a></li>
          <li><a routerLink="/buy/projects/1/category/6" i18n="main|">collection 4 woman</a></li>
          <li><a routerLink="/buy/projects/1/category/7" i18n="main|">accessory</a></li>
          <li><a routerLink="/buy/projects/1/category/8" i18n="main|">souvenirs</a></li>
        </ul>
        <li><a routerLink="/exhibitions">EXHIBITIONS</a></li>
        <li><a routerLink="/projects">PROJECTS</a></li>
        <li><a routerLink="/collaborations">COLLABORATIONS</a></li>
        <li><a routerLink="/metadata">META DATA</a></li>
        <li><a routerLink="/legalterms">LEGAL TERMS</a></li>
        <li><a routerLink="/contacts">CONTACTS</a></li>
        <li><a routerLink="/publications">PUBLICATIONS</a></li>
        <li><a routerLink="/video">VIDEO</a></li>
      </ul>
    </div>
  </div>
  <div id="corp">
    <div class="top" fxLayout fxLayoutAlign="space-between">
      <span class="left" fxLayout fxLayoutAlign="space-between">
        <a routerLink="/subscribe" i18n>subscribe for our newsletter</a>
        <a routerLink="/login" i18n>sign up</a>
      </span>
      <span class="right" fxLayout fxLayoutAlign="space-between">
        <a routerLink="/login" i18n>login</a>
        <span>&copy;&nbsp;Alessio Romano.&nbsp;<span i18n>All right reserved</span>.&nbsp;{{ currentYear }}</span>
      </span>
    </div>
    <div class="logo"><a routerLink="/"><img src="assets/logo.png" alt="Alessio Romano"></a></div>
    <div class="menu" fxLayout fxLayoutAlign="space-between">
      <a routerLink="/metadata" i18n>META DATA</a>
      <a routerLink="/exhibitions" i18n>EXHIBITIONS</a>
      <a routerLink="/projects" i18n="main|menu">Projects</a>
      <a routerLink="/collaborations" i18n>COLLABORATIONS</a>
      <a routerLink="/buy" i18n>BUY</a>
      <a routerLink="/legalterms" i18n>LEGAL TERMS</a>
      <a routerLink="/contacts" i18n>CONTACTS</a>
      <a routerLink="/publications" i18n>PUBLICATIONS</a>
      <a routerLink="/video" i18n>VIDEO</a>
    </div>
  </div>
  <div id="right"></div>
</header>
<main appScroll (read)="isScroll = $event.scrollTop > 1">
  <router-outlet></router-outlet>
  <!-- <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}}
    </li>
  </ul> -->
</main>
