<header>
  <div>
    <span>
      <a routerLink="/">subscribe for our newsletter</a>
      <a routerLink="/">sign up</a>
    </span>
    <span></span>
    <span>
      <a routerLink="/">login</a>
      <a>&copy; Alessio Romano. All right reserved. {{ currentYear }}</a>
    </span>
  </div>
  <div class="logo"><a href="/"><img src="assets/logo.png"></a></div>
  <div class="main-menu">
    <span>meta data</span>
    <span>projects</span>
    <span>Exhibitions</span>
    <span>Exhibitions</span>
    <span>Publications</span>
    <span>Video</span>
    <span>Contacts</span>
  </div>
  <div class="sub-menu">
    <button><img src="assets/sandwich.svg"></button>
    <ul>
      <li><a routerLink="/">art</a></li>
      <li><a routerLink="/">instalation</a></li>
      <li><a routerLink="/">print</a></li>
    </ul>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
