<h1>
  <span>Type</span> | <a routerLink="/buy/project">Project</a>
  <ng-container *ngIf="points$ | async as points">
    <ng-container *ngFor="let point of points; let i = index; let last = last">
      <ng-container *ngIf="point">
        <span>&nbsp;|&nbsp;</span>

        <ng-container *ngIf="last && showSize; else simple">


          <ng-container *ngFor="let size of sizes; let end = last">
            <ng-container *ngTemplateOutlet="arl; context: { index: i, dup: size.id, title: size?.title }">
            </ng-container>
            <ng-container *ngIf="!end"> | </ng-container>
          </ng-container>

        </ng-container>

        <ng-template #simple>
          <ng-container *ngTemplateOutlet="arl; context: { index: i, title: point?.title, goto: point.goto }"></ng-container>
        </ng-template>

      </ng-container>
    </ng-container>
  </ng-container>
</h1>
<ng-template #arl let-index="index" let-dup="dup" let-title="title" let-goto="goto">
  <a [routerLink]="link(index, dup, goto)" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">{{ title }}</a>
</ng-template>
