<div class="title">
  <h1>
    <span i18n="main|">Type</span>|
    <a routerLink="../projects" i18n="main|">Project</a>:
    <a routerLink="../">Synchronicity Singularity Apophenia</a>|
    <span i18n="main|">Black</span>
  </h1>
  <app-lang-switch></app-lang-switch>
</div>
<div fxLayout fxLayoutAlign="space-between" class="items">
  <a routerLink="art"><img src="assets/images/art.png" alt="" />
    <div i18n="main|">art</div>
  </a>
  <a routerLink="installation"><img src="assets/images/install.png" alt="" />
    <div i18n="main|">installation</div>
  </a>
  <a routerLink="print"><img src="assets/images/print.png" alt="" />
    <div i18n="main|">print</div>
  </a>
  <a routerLink="home"><img src="assets/images/home.png" alt="" />
    <div i18n="main|">collection 4 home</div>
  </a>
</div>
<div fxLayout fxLayoutAlign="space-between" class="items">
  <a routerLink="man"><img src="assets/images/man.png" alt="" />
    <div i18n="main|">collection 4 man</div>
  </a>
  <a routerLink="souvenirs"><img src="assets/images/souve.png" alt="" />
    <div i18n="main|">souvenirs</div>
  </a>
  <a routerLink="accessory"><img src="assets/images/acce.png" alt="" />
    <div i18n="main|">accessory</div>
  </a>
  <a routerLink="woman"><img src="assets/images/woman.png" alt="" />
    <div i18n="main|">collection 4 woman</div>
  </a>
</div>
<app-social></app-social>
