<app-header [@headOnScroll]="isScroll"></app-header>
<main appScroll (read)="isScroll = $event.scrollTop > 1">
  <div fxLayout fxLayoutAlign="space-between center" class="top-tools">
    <app-crumbs></app-crumbs>
    <app-lang-switch></app-lang-switch>
  </div>
  <ng-container *ngIf="doc$ | async as doc">
    <div fxLayout>
      <div class="medium" (click)="showBig()">
        <img src="assets/store/product/{{ path }}/{{ currentPrev }}.png" alt="" />
        <img src="assets/images/inlarg.png" alt="" />
      </div>
      <div class="prev-items" fxLayout="column" fxLayoutAlign="space-between center">
        <app-img *ngFor="let prev of previews" path="{{ path }}/{{ prev }}" (click)="currentPrev=prev"
          [ngClass]="{active: prev===currentPrev}">
        </app-img>
      </div>
      <div fxLayout="column" fxFlex fxLayoutAlign="space-between">
        <div [style.width.%]="100">
          <b class="h-1">Project: {{ doc?.project.title }}</b>
          <b class="h-big">{{ doc.title }}</b>
          <b class="h-2">{{ doc.artist }}</b>
          <div class="info">
            <div>{{ doc.rendering }}</div>
            <div>{{ doc.authorship }}</div>
            <div><span *ngFor="let size of doc.size" [ngClass]="{active: size.id === currentSize}">
                {{ size.title }}
              </span> cm</div>
            <div>{{ doc.edition }}</div>
            <div>Roma code <b>{{ doc.roma_code }}</b></div>
          </div>
          <b class="h-2">Price {{ doc.price | currency : 'Euro ' : 'code'  }}</b>
          <div class="h-3">plus VAT. import duties (if applicable)</div>
          <div fxLayout fxLayoutAlign="space-between" class="info">
            <span>estimated shipping cost</span>
            <b>customized</b>
          </div>
          <div fxLayout fxLayoutAlign="space-between" class="info">
            <span>art shipping insurance</span>
            <b>customized</b>
          </div>
        </div>
        <div class="control"><button type="button" (click)="showCheck()">own now</button></div>
      </div>
    </div>
    <div fxLayout fxLayoutAlign="space-between" class="bottom">
      <span>price on request</span>
      <span>roma code <span [style.lineHeight.vw]="1.1">{{ doc.roma_code }}</span></span>
      <span>edition 8 out of 777</span>
      <span>request the price</span>
    </div>
  </ng-container>
  <app-social></app-social>
</main>
