:host {
  & div.main-text {
    margin-top: -0.6vw;

    & p {
      margin-top: 0;

      &.pl-40 {
        padding-left: 1.5vw
      }
    }
  }
}
.vertical {
  float: left;
  margin-right: 1.5vw;
  margin-top: 0.6vw;
}

.full-width {
  width: 100%;
}
