:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: #1d1d1d;
  color: #ffffff;

  main {
    overflow: auto;
    flex: 1;
    padding: 0 12% 0 13%;
    line-height: 2.2vw;

    & .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4.2vw;

      h1 {
        font-size: 1.1vw;
        margin: 0;
        padding: 0;
      }
    }
  }

  main.light {
    background-color: #ffffff;
    color: #000000;
  }

  main.contacts {
    background-image: url('/assets/images/contacts_bg.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
