
<h2>GENERAL INFORMATION</h2>
<div>
  INFO@ALESSIOROMANO.ART. ALL RIGHTS ON THIS SITE AND IT’S CONTENTS RESERVED TO ALESSIO ROMANO.<br>
  ALESSIO ROMANO IS THE OWNER OF THE RESPECTIVE COPYRIGHT OR LICENSES. THIS DOES NOT APPLY<br>
  TO ANY THIRD PARTY MESSAGES OR OBSERVATIONS.
</div>

<h2>CONTACT</h2>
<div>
  IF YOU HAVE ANY QUESTIONS, PLEASE CONTACT US, MAX BAUER, HEAD OF CARE, OR CATERINA CONTE <br>
  PHONE NUMBER +7 (909) 159 9999, +7 (909) 9977700 OR SEND US AN EMAIL.
</div>

<h2>ART</h2>
<div>
  FOR ART REQUESTS, PLEASE CONTACT MAX BAUER (CURATOR) AND CATERINA CONTE<br>
  INFO@ALESSIOROMANO.ART
</div>

<h2>PARTNER SERVICES</h2>
<div>MAX@ALESSIOROMANO.ART, CATERINA@ALESSIOROMANO.ART</div>

<h2>PHONE NUMBER</h2>
<div>
  +7 (909) 159 9999, +7 (909) 9977700<br>
  MONDAY TO FRIDAY FROM 11:11 AM TO 18:18 PM CET
</div>

<h2>FOLLOW</h2>
<app-social [style.marginTop.vw]="0.43" [style.position]="'static'"></app-social>

<!-- <p [style.height.vw]="3.8">&nbsp;</p> -->
