:host {
  text-align: center;
  display: block;
  margin-top: -3vw;

  & h1 {
    font-size: 1.9vw;
    margin: 0;
    padding: 0;
  }

  & h2 {
    font-size: 1.45vw;
    padding: 0;
    margin: 0;
  }

  & > div {
    font-size: 1.1vw;
    line-height: 1.56vw;
    letter-spacing: -0.012vw;
    margin-bottom: 0.68vw;
  }
}
