
<h2 [style.marginTop.vw]="1.4">GENERAL INFORMATION</h2>

<p>
  INFO@ALESSIOROMANO.ART. ALL RIGHTS ON THIS SITE AND IT’S CONTENTS RESERVED TO ALESSIO ROMANO.<br>
  ALESSIO ROMANO IS THE OWNER OF THE RESPECTIVE COPYRIGHT OR LICENSES. THIS DOES NOT APPLY<br>
  TO ANY THIRD PARTY MESSAGES OR OBSERVATIONS.
</p>

<h2>CONTACT</h2>

<p>
  IF YOU HAVE ANY QUESTIONS, PLEASE CONTACT US, MAX BAUER, HEAD OF CARE, OR CATERINA CONTE <br>
  PHONE NUMBER +7 (909) 159 9999, +7 (909) 9977700 OR SEND US AN EMAIL.
</p>

<h2>ART</h2>

<p>
  FOR ART REQUESTS, PLEASE CONTACT MAX BAUER (CURATOR) AND CATERINA CONTE<br>
  INFO@ALESSIOROMANO.ART
</p>

<h2>PARTNER SERVICES</h2>

<p>MAX@ALESSIOROMANO.ART, CATERINA@ALESSIOROMANO.ART</p>

<h2>PHONE NUMBER</h2>

<p>
  +7 (909) 159 9999, +7 (909) 9977700<br>
  MONDAY TO FRIDAY FROM 11:11 AM TO 18:18 PM CET
</p>

<h2>FOLLOW</h2>

<app-social [style.marginTop.vw]="0.43" [style.position]="'static'"></app-social>

<p [style.height.vw]="3.8">&nbsp;</p>
