<div class="container">
  <div class="title">
    <h1>
      <span i18n="main|">Type</span>|
      <a routerLink="../projects" i18n="main|">Project</a>:
      <a routerLink="../projects/1">Synchronicity Singularity Apophenia</a>|
      <a routerLink="../" i18n="main|">Black</a>|Chaos|Chaos Code|East|Europe|Indian|Midle East
    </h1>
    <app-lang-switch></app-lang-switch>
  </div>
  <div fxLayout fxLayoutAlign="space-between" class="items">
    <a routerLink="chaos_code/180"><img src="assets/images/chaos_code.png" alt="" />
      <div>Сhaos code</div>
    </a>
    <a routerLink="east/180"><img src="assets/images/east.png" alt="" />
      <div>east</div>
    </a>
    <a routerLink="chaos/180"><img src="assets/images/chaos.png" alt="" />
      <div>Сhaos</div>
    </a>
    <a routerLink="indian/180"><img src="assets/images/indian.png" alt="" />
      <div>indian</div>
    </a>
  </div>
  <div fxLayout fxLayoutAlign="center" fxLayoutGap="45px" class="items">
    <a routerLink="europe/180"><img src="assets/images/europe.png" alt="" />
      <div>europe</div>
    </a>
    <a routerLink="midle_east/180"><img src="assets/images/midle_east.png" alt="" />
      <div>midle east</div>
    </a>
  </div>
</div>
<app-social></app-social>
