<div class="container">
  <div class="title">
    <h1>
      <span i18n="main|">Type</span> | 
      <a routerLink="/buy" i18n="main|">Project</a> | 
      <a routerLink="/buy/projects/1">Synchronicity Singularity Apophenia</a> | 
      <a routerLink="/" i18n="main|">Black</a>
       <!-- | Chaos | Chaos Code | East | Europe | Indian | Midle East -->
    </h1>
    <app-lang-switch></app-lang-switch>
  </div>
  <div fxLayout fxLayoutAlign="space-between" class="items">
    <a routerLink="collections/1/180"><img src="assets/images/store/collections/1.png" alt="" />
      <div>Сhaos code</div>
    </a>
    <a routerLink="collections/2/180"><img src="assets/images/store/collections/2.png" alt="" />
      <div>east</div>
    </a>
    <a routerLink="collections/3/180"><img src="assets/images/store/collections/3.png" alt="" />
      <div>Сhaos</div>
    </a>
    <a routerLink="collections/4/180"><img src="assets/images/store/collections/4.png" alt="" />
      <div>indian</div>
    </a>
  </div>
  <div fxLayout fxLayoutAlign="space-between" class="items">
    <span></span>
    <a routerLink="collections/5/180"><img src="assets/images/store/collections/5.png" alt="" />
      <div>europe</div>
    </a>
    <a routerLink="collections/6/180"><img src="assets/images/store/collections/6.png" alt="" />
      <div>midle east</div>
    </a>
    <span></span>
  </div>
</div>
<app-social></app-social>
