:host {
  & div.item {
    position: relative;
    margin-bottom: 1.6vw;
    overflow: hidden;

    img {
      width: 22vw;
      float: left;
      margin-right: 1.5vw;
      margin-top: 0.6vw;
      // margin-bottom: 4vw;
    }

    p {
      margin-top: 0;
      text-align: justify;
    }

    span.more {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      cursor: pointer;

      & span {
        position: static;
        color: white;
      }
      & span:last-child {
        color: #ed1c24;
      }
    }
  }
}
