// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alessio-primary: mat-palette($mat-indigo);
$alessio-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$alessio-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$alessio-theme: mat-light-theme((color: (primary: $alessio-primary,
      accent: $alessio-accent,
      warn: $alessio-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($alessio-theme);

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Trajan Pro';
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  margin: 0;
  font-size: 0.95vw;
  letter-spacing: -.008vw;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

button:focus {
  outline-width: 0;
}

.big-img-dialog>mat-dialog-container {
  background-color: #000000;
}

.active {
  color: #cc2229
}

.arrow {
  position: relative;
  display: inline-block;

  &.open>span {
    transform: rotate(45deg);
    top: -.7vw;
  }

  & span {
    position: absolute;
    width: 0px;
    height: 0px;
    border: .27vw solid;
    border-color:
      transparent #ffffff #ffffff transparent;
    transform: rotate(-45deg);
    left: .6vw;
    top: -.5vw;
    transition: all .5s;
  }
}

.arrow.black span {
  border-color:
    transparent #000000 #000000 transparent;
}

@font-face {
  font-family: 'Trajan Pro';
  src: url("assets/Trajan Pro Regular.ttf");
  src: local("assets/Trajan Pro Regular"), url("assets/Trajan Pro Regular.ttf") format("truetype"), url("assets/TrajanPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro-Bold';
  src: url("assets/TrajanPro-Regular.otf");
  src: local("assets/TrajanPro-Regular.otf"), url("assets/TrajanPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
