html {
  font-size: 18px;
}

body {
  font-family: 'Trajan Pro';
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 0.95vw;
  letter-spacing: -.008vw;
}

a {
  text-decoration: none;
  color: #000000;
}

button:focus {
  outline-width: 0;
}

.arrow {
  position: relative;
  display: inline-block;

  &.open>span {
    transform: rotate(45deg);
    top: -.7vw;
  }

  & span {   
    position: absolute;
    width: 0px;
    height: 0px;
    border: .25vw solid;
    border-color:
      transparent #ffffff #ffffff transparent;
    transform: rotate(-45deg);
    left: .6vw;
    top: -.5vw;
    transition: all .5s;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.2vw;
}

@font-face {
  font-family: 'Trajan Pro';
  src: url("assets/Trajan Pro Regular.ttf");
  src: local("assets/Trajan Pro Regular"), url("assets/Trajan Pro Regular.ttf") format("truetype"), url("assets/TrajanPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro-Bold';
  src: url("assets/TrajanPro-Regular.otf");
  src: local("assets/TrajanPro-Regular.otf"), url("assets/TrajanPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
