body {
  font-family: 'Trajan Pro';
  background-color: #ffffff;
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 10px;
  letter-spacing: -.15px;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  font-size: 1.2em;
  line-height: 2em;
}

h1 {
  font-size: 1.6em;
  letter-spacing: -.1px;
}

button:focus {
  outline-width: 0;
}

.arrow {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 6px;

  &::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border: 3px solid;
    border-color:
      transparent #ffffff #ffffff transparent;
    transform: rotate(45deg);
  }
}

.container {
  width: 850px;
  margin: auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

@font-face {
  font-family: 'Trajan Pro';
  src: url("assets/Trajan Pro Regular.ttf");
  src: local("assets/Trajan Pro Regular"), url("assets/Trajan Pro Regular.ttf") format("truetype"), url("assets/TrajanPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro-Bold';
  src: url("assets/TrajanPro-Regular.otf");
  src: local("assets/TrajanPro-Regular.otf"), url("assets/TrajanPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
