<div class="container">
  <div class="title">
    <h1>
      <span i18n="main|">Type</span> | 
      <a routerLink="/buy" i18n="main|">Project</a> | 
      <a routerLink="/buy/projects/1">Synchronicity Singularity Apophenia</a> | 
      <a routerLink="/buy/projects/1/colors/1" i18n="main|">Black</a> | 
      <a routerLink="/buy/projects/1/colors/1/category/1/collections/1/180">Chaos</a> | <span style="color:#cc2229">180x180</span> | 150x150 | 100x100 | 50x50
    </h1>
    <app-lang-switch></app-lang-switch>
  </div>
  <div fxLayout fxLayoutAlign="space-between" class="items">
    <a routerLink="1"><img src="assets/images/store/collections/1/000.png" alt="" />
      <div>Сhaos 000</div>
    </a>
    <a routerLink="2"><img src="assets/images/store/collections/1/33.png" alt="" />
      <div>Сhaos 33</div>
    </a>
    <a routerLink="3"><img src="assets/images/store/collections/1/66.png" alt="" />
      <div>Сhaos 66</div>
    </a>
    <a routerLink="4"><img src="assets/images/store/collections/1/00.png" alt="" />
      <div>Сhaos 00</div>
    </a>
  </div>
  <div fxLayout fxLayoutAlign="space-between" class="items">
    <a routerLink="5"><img src="assets/images/store/collections/1/88.png" alt="" />
      <div>Сhaos 88</div>
    </a>
    <a routerLink="6"><img src="assets/images/store/collections/1/333.png" alt="" />
      <div>Сhaos 333</div>
    </a>
    <a routerLink="7"><img src="assets/images/store/collections/1/555.png" alt="" />
      <div>Сhaos 555</div>
    </a>
    <a routerLink="8"><img src="assets/images/store/collections/1/999.png" alt="" />
      <div>Сhaos 999</div>
    </a>
  </div>
</div>
<app-social></app-social>
