<div class="title">
  <h1>
    <span i18n="main|">Type</span> | <a routerLink="/buy" i18n="main|">Project</a> | <span>Synchronicity Singularity
      Apophenia</span>
  </h1>
  <app-lang-switch></app-lang-switch>
</div>

<div fxLayout fxLayoutAlign="space-between" class="items">
  <a routerLink="colors/1">
    <img src="assets/images/store/colors/1.png" alt="" />
    <div>COMMEDIA DELL’ARTE</div>
  </a>
  <a routerLink="colors/2">
    <img src="assets/images/store/colors/2.png" alt="" />
    <div>ORO</div>
  </a>
  <a routerLink="colors/3">
    <img src="assets/images/store/colors/3.png" alt="" />
    <div>SACRO</div>
  </a>
  <a routerLink="colors/4">
    <img src="assets/images/store/colors/4.png" alt="" />
    <div>SOLE</div>
  </a>
</div>
<div fxLayout fxLayoutAlign="space-between" class="items">
  <a routerLink="colors/5">
    <img src="assets/images/store/colors/5.png" alt="" />
    <div>ZAFFIRO</div>
  </a>
  <a routerLink="colors/6">
    <img src="assets/images/store/colors/6.png" alt="" />
    <div>AMETISTA</div>
  </a>
  <a routerLink="colors/7">
    <img src="assets/images/store/colors/7.png" alt="" />
    <div>TOPAZIO</div>
  </a>
  <a routerLink="colors/8">
    <img src="assets/images/store/colors/8.png" alt="" />
    <div>SMERALDO</div>
  </a>
</div>

<app-social></app-social>
