<div *ngFor="let item of items$ | async" class="items">
  <div class="prev" [ngStyle]="{margin: item.margin}" appUnder>
    <i *ngIf="item.id!==1" class="under">UNDER CONSTRACTION</i>
    <img [src]="item.id | path:'exhibition' | getDownloadURL" [alt]="item.title" (click)="item.expand=item.id===1">
  </div>
  <div [@expand]="!!item.expand">
    <ng-container *ngFor="let p of item.text">
      <p *ngIf="p!=='image'; else img">{{ p }}</p>
      <ng-template #img>
        <app-carousel [ngClass]="'full-width'" [path]="'metadata/5'" [styles]="{width: 75, height: 34, units: 'vw'}">
        </app-carousel>
      </ng-template>
    </ng-container>
  </div>
</div>
<app-social [bg]="'dark'"></app-social>
