<h2>the address</h2>
<p>Hello, Alessio Romano! The account information has been saved.</p>
<div fxLayoutGap="2.2vw">
  <h2 fxFlex fxFlexAlign="center">account information</h2>
  <div fxFlex><button>modify</button></div>
</div>
<div style="padding-bottom: 1.4vw;">
  <p>Alessio Romano</p>
  <p>Alessio070770@gmail.com</p>
</div>

<div fxLayoutGap="2.2vw">
  <h2 fxFlex fxFlexAlign="center">address</h2>
  <div fxFlex><button>modify</button></div>
</div>

<div fxLayoutGap="2.2vw" style="padding-top: 1vw;">
  <div fxFlex>
    <h2>Billing address</h2>
    <p>You have not set the billing</p>
    <p>address</p>
  </div>
  <div fxFlex>
    <h2>Delivery address</h2>
    <p>You have not set the shipping </p>
    <p>address</p>
  </div>
</div>

<div fxLayoutGap="2.2vw">
  <button fxFlex>Change the address</button>
  <button fxFlex>Change the address</button>
</div>
