<div class="fields" fxLayout fxLayoutGap="2.2vw">
    <div fxFlex>
      <h2>account dashboard</h2>
      <input placeholder="FIRST NAME" type="text">
      <input placeholder="SURNAME" type="text">
      <input placeholder="E-MAIL" type="text">
      <input placeholder="PASSWORD" type="password">
      <input placeholder="COMPANY" type="text">
      <div class="chbx">
        <span>owner of gallery</span>
        <span>decorator of interiors</span>
        <span>art dealer</span>
      </div>
      <button>confirm</button>
    </div>
    <div fxFlex>
      <button>modify</button>
    </div>
  </div>
  <div class="fields" fxLayout fxLayoutGap="2.2vw">
    <div fxFlex style="padding-top: 1vw;">
      <span class="tit">address</span>
      <span style="padding-bottom: .16vw;display: block;">Billing address</span>
      <input placeholder="E-MAIL" type="text">
      <input placeholder="FIRST NAME" type="text">
      <input placeholder="SURNAME" type="text">
      <input placeholder="ADDRESS" type="text">
      <input placeholder="ZIP/POSTAL" type="text">
      <input placeholder="CITY" type="text">
      <input placeholder="REGION, STATE OR PROVINCE" type="text">
      <input placeholder="COUNTRY" type="text">
      <input placeholder="PHONE" type="text">
      <input placeholder="FAX" type="text">
      <br>
      <button>confirm</button>
    </div>
    <div fxFlex>
      <button>modify</button>
      <span class="tit">Delivery address</span>
      <input placeholder="E-MAIL" type="text">
      <input placeholder="FIRST NAME" type="text">
      <input placeholder="SURNAME" type="text">
      <input placeholder="ADDRESS" type="text">
      <input placeholder="ZIP/POSTAL" type="text">
      <input placeholder="CITY" type="text">
      <input placeholder="REGION, STATE OR PROVINCE" type="text">
      <input placeholder="COUNTRY" type="text">
      <input placeholder="PHONE" type="text">
      <input placeholder="FAX" type="text">
      <br>
      <button>confirm</button>
    </div>
  </div>
<br><br>
